.home-page-first-imgs{
    border: 3px solid white;
    border-radius: 6px;
}
.card-img-top-profile{
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    border: 2px solid rgb(189, 186, 186);
}
.about-pic img{
height: 200px;
width: 270px;
border:2px solid rgb(182, 182, 182);
border-radius: 10px;
box-shadow: 5px 10px 18px #888888;
}
.contact-img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    filter: grayscale(65%);
    display: inline;
    border:1px solid rgb(182, 182, 182);
    box-shadow: 2px 3px 7px #888888;
    margin-bottom:3px;
    
    

}
.contact-card{
    display: inline;
}
.preview-holder.big-image{
    position: fixed;
    
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000001;
}
.preview-holder.big-image img{
    width: 280%;
    margin-top: 1rem;
    margin-left: 1rem;
    border:2px solid rgb(182, 182, 182);
    border-radius: 10px;
    box-shadow: 5px 10px 18px #888888;
}